Email-Automation
{
  "name": "Code Craft Mail Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "de0d6122-b070-4825-a646-b002c0fd2ab4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "0ca86447-2534-4a9d-a093-024fa140d9af",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o76RkpkE93H6K82X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f9535fe-e101-48c4-bb69-bd56f685e809",
              "leftValue": "={{ $json['Send Status'] }}",
              "rightValue": "sent",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "e0ea39ca-ddb7-4c84-9cea-4b68ec0565a7",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        -96
      ],
      "id": "fcf82bc0-032f-4b18-8679-47eaf22fe286",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 569875765,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs/edit#gid=569875765"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -240
      ],
      "id": "23ec60e1-066e-4ab6-b9f1-46b73eecfc46",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o76RkpkE93H6K82X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick the first template (or random, as you prefer)\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Prepare name replacement\nconst userName = template.Name && template.Name.trim() !== '' ? template.Name.trim() : \"there\";\n\n// Replace all [name] and [Name] in the body (case-insensitive)\nlet body = template.Body.replace(/\\[name\\]/gi, userName);\n\n// Convert body to HTML (newline to <br>)\nconst bodyHtml = body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format, always including subject\nreturn [\n  {\n    json: {\n      subject: template.Subject ? template.Subject : '',\n      body: bodyHtml\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -240
      ],
      "id": "ed574228-4b40-4df6-8aba-2c97dcdd1fa2",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1232,
        -32
      ],
      "id": "25c0947c-3466-459f-8c6c-f5de0e9cf4be",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09da29ae-f802-44d9-9b0c-f8d360feeefd",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -32
      ],
      "id": "d55a650d-8ec9-4636-8ebc-322eea116360",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Ready for a Modern Portfolio? Let Code Craft Build Yours",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Code Craft"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1648,
        -32
      ],
      "id": "494d6f7f-82d3-4ef7-aca0-a9c6ea143d3e",
      "name": "Send a message",
      "webhookId": "86fbd723-eebb-4b1f-86cf-4aee58377880",
      "credentials": {
        "gmailOAuth2": {
          "id": "34JpumMB6F8uPGuP",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1872,
        -176
      ],
      "id": "8784c2a9-080a-44c5-a9a4-ce50c4c0239a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XgX558hGKZsxZwdxin5iXKBr6bnwv9vk7NKXuvD3YZs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Send Status": "={{ $json.labelIds[0] }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        -176
      ],
      "id": "0509dd5c-6504-46f4-9a3b-8b0a71c2c210",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "o76RkpkE93H6K82X",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1904,
        80
      ],
      "id": "85b6b649-873c-4ad9-a800-7205055ce577",
      "name": "Wait",
      "webhookId": "0e95e529-c923-47a5-80bb-8657c57b6109"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70ce4da6-fcc5-4109-9ebb-adc72cbb98d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fbe820467fa6c8f6117822e80e41ad3bd8798d254910b5bc80ee24ca7b68ed85"
  },
  "id": "cYU3x1nwjCZeCvfT",
  "tags": []
}
